<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PB Dairy - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <h1>Welcome to PB Dairy!</h1>
    <p>Enjoy our free milk service with delicious flavors.</p>
    
    <nav>
        <a href="{{ url_for('auth.login') }}">Login</a> |
        <a href="{{ url_for('auth.signup') }}">Sign Up</a> |
        <a href="{{ url_for('milk.milk_info') }}">Milk Info</a>
        <a href="{{ url_for('admin.admin_login') }}" class="btn-admin">🔑 Admin Login</a>
    </nav>
</body>
</html>
